.grid-container {
    grid-template-rows: 73vh auto auto;
    grid-template-columns: auto;
    display: grid;
    justify-content: center;
    align-items: start;
    
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
}

.messagingArea {
}

.messagingArea {
    display: grid;
    overflow :auto;
    align-items: start;
    justify-items: end;
    max-height: 70vh;
}

.messagingArea p {
    margin-top: 5px;
    display: grid;
    background-color: rgb(238, 238, 238);
    justify-content: end;
    border-radius: 8px;
    align-content: flex-end;
    order: 1;
    box-sizing: content-box;
    border: solid #5f5f5f 2px;
    padding: 5px;
}

.keyboardArea {
    display: flex;
    align-self: center;
    background-color: rgba(49, 49, 49, 0.747);
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5px;
}

.textArea {
    display: flex;
    justify-content: center;
    align-items: center;
}
.textArea #mensaje{
    width: 270px;
    resize: none;
    border-color: #404040;
    border-width: 2px;
    border-radius: 15px;
}

.keyboard-item {
    margin: 0;
    display: flex;
    flex-grow: 1;
    width: 80%;
    justify-content: center;
}

input[type="button"] {
    border-radius: 6px;
    width: 32px;
    height: 29px;
    font-size: 13px;
}

#keyboardArea .espacio {
    width: 125px;
}